pandas==2.2.2
numpy==2.0.1
scikit-learn==1.5.1
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.23.0
joblib==1.4.2
nltk==3.9.1
spacy==3.7.6
transformers==4.44.0
torch==2.4.0
xgboost==2.1.1
imbalanced-learn==0.12.4
shap==0.45.0
jupyterlab==4.2.5
python-dotenv==1.0.1
